<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="footer1">
    <p>Contact us: info@example.com | +1 234 567 890 © 2024 Alia. All rights reserved.</p>
</div>


</body>

</html>