<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h2>{{>header}}</h2>

    <h2>HBS {{title}} page content</h2>
    <h2>Email: {{email}}</h2>
    <h2>Phone Number: {{phone}}</h2>
{{> footer}}
</body>

</html>